@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000&family=fomus&display=swap')
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary:#536942;
    --secondary:#ffd936;
    --white:#efefef;

}
body{
    font-family: "DM Sans",sans-serif;
    color: var(--primary);
}
#main {
 background-image: url(./images/img3.jpg);   
}